.textoInicial{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 50%;
}

@media screen and (max-width: 480px) {

    .textoInicial{
        width: 90%;
    }
}