.listaProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    flex: 1 1;
    

    & img{
        margin: 2px;
        margin: 10 10 10px;
        border-radius: 1rem 1rem 1rem 1rem;
        border: .1rem solid gray;
    }

    & p{
        font-size: 1em;
        margin-bottom: 3rem;
    }
    
}

.productos{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
