*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: auto 1fr 20vh;
    min-height: 100vh;
}

html{
    font-size: 62,5%;
}

main{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main::after{
    content: "";
    background-image: url(../Multimedia/brackground.jpg);
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0; 
    left: 0;
    opacity: .2;
    position: fixed;
    z-index: -1;
}

h1{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-stretch: narrower;
    font-size: 4.5em;
}

h2{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5em;
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    margin: 0;
}

ul{
    padding-left: 0;
}